body {
    background: white;
}

h1 {
    text-align: center;
    font-family: serif ;
    font-size: 65px;
}

a:link {
    color: black;
    font-style: normal;
    text-decoration: none;
    
}

a:visited {
    color: black;
    font-style: normal;
}

a:hover {
    font-weight: bold;
}

span {
    display: inline-block;
    font-size: 1em;
    line-height: 1em;
    letter-spacing: .35em;
    vertical-align: top;
    padding: 35px 35px 35px;
    
  }

  div.navigation {
    background-color: #f3e6fa;
    text-align: center;
  }